<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Пользователи</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <h3 class="row justify-content-center heading2">Список пользователей интернет-магазина:</h3>
        <br>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Логин</th>
                    <th>Пароль</th>
                    <th>Текущая роль</th>
                    <th class="heading1">Новая роль</th>
                </tr>
            </thead>
            <tbody>
                <form th:each="person : ${persons}" th:method="POST" th:action="@{/admin/persons/{id}(id=${person.getId()})}">
                    <tr>
                        <td th:text="${person.getId()}"></td>
                        <td th:text="${person.getLogin()}"></td>
                        <td th:text="${person.getPassword()}"></td>
                        <td th:text="${person.getRole()}"></td>
                        <td>
                            <select name="role" id="role">
                                <option th:value="ROLE_ADMIN" th:text="ROLE_ADMIN"></option>
                                <option th:value="ROLE_USER" th:text="ROLE_USER"></option>
                            </select>
                        </td>
                        <td> <button type="submit" class="btn btn-primary">Изменить</button></td>
                    </tr>
                </form>
            </tbody>
        </table>
        <br>
        <div class="row justify-content-center">
            <a href="/admin" class="w-50 btn btn-primary">Вернуться</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>